

/*table, th , td {*/
    /*border: 1px solid grey;*/
    /*border-collapse: collapse;*/
    /*padding: 5px;*/
/*}*/

/*table{*/
    /*width: 50%;*/
/*}*/

/*table tr:nth-child(odd) {*/
    /*background-color: #f1f1e1;*/
/*}*/
/*table tr:nth-child(even) {*/
    /*background-color: #ffffff;*/
/*}*/

/*.noBorderBtn {*/
    /*border: none;*/
    /*background: none;*/
/*}*/

/*a {*/
    /*font-size:15px;*/
/*}*/

/*.tdTitle{*/
    /*width: 30%;*/
/*}*/

/*.tdType{*/
    /*width: 10%;*/
/*}*/

/*input[type='text']{*/
    /*height:20px;*/
    /*width: 200px;*/
/*}*/

/*textarea{*/
    /*height:100px;*/
    /*width: 240px;*/
/*}*/

select{
    width: 60px;
}

/*.btn_submit{*/
    /*width: 60px;*/
    /*height: 30px;*/
/*}*/

h2{
    padding: 10px 30px 0px 50px;
}

#div-main{
    width: 700px;
    padding: 10px 30px 30px 50px;
}

body #container{
    float: left;
    position: relative;
    left: 50%;
}

body #container-sub{
    position: relative;
    right: 50%;
}




