<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta charset="utf-8">
    <title>TODO LIST</title>

    <!--引入AngularJS-->
    <script src="node_modules/angular/angular.js"></script>

    <!--引入bootstrap-->
    <!--版本问题,暂用CDN-->
    <!--<script src="node_modules/jquery-2.1.1/jquery.js"></script>-->
    <!--<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--react先关-->
    <script src="node_modules/react/dist/react.js"></script>
    <script src="node_modules/react-dom/dist/react-dom.js"></script>

    <script src="vendor/react/browser.min.js"></script>

    <!--对应JS文件-->
    <script src="js/index.js" type="text/javascript"></script>

    <!--样式-->
    <link href="./css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
        <div id="container-sub">
            <div id="div_title"></div>

            <div ng-app="toDoList" ng-controller="toDoCtrl" id="div-main">
                <p id="p_title"><span>标题:&nbsp;</span><input type=text class="form-control" ng-model="modelTitle" placeholder="请输入标题"></p>
                <!--<div id="div_title"></div>-->
                <p><span>类型:&nbsp;</span><select ng-model="selectedType"><option ng-repeat="x in types" value="{{x}}">{{x}}</option></select></p>

                <p><span>内容:&nbsp;<p></span><textarea class="form-control" ng-model="modelContent" placeholder="请输入内容"></textarea></p></p>
                <button class="btn btn-primary" ng-click="save()">&nbsp;保存&nbsp;</button>

                <table style="margin-top: 20px" class="table table-striped table-bordered">
                    <tr>
                        <th>标题</th>
                        <th>类型</th>
                        <th>内容</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="x in list track by $index">
                        <td class="col-sm-2">{{x.title}}</td>
                        <td class="col-sm-1">{{x.type}}</td>
                        <td class="col-sm-8">{{x.content}}</td>
                        <td class="col-sm-1"><a class="noBorderBtn" ng-click="delete(x)">删除</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    <div>TODO LIST的标题不能为空~</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/babel">
        var tt = "TODO LIST";
//        var tTitle = "标题";
//        var tType = "类型";
//        var tContent = "内容";
//        var tOperation = "操作";

        var InputComp = React.createClass({
            propTypes: {
                title: React.PropTypes.string.isRequired
            },

            render: function() {
                return (
                        <h2>{tt}</h2>
                );
            }
        });

        ReactDOM.render(
        <InputComp  title = {tt}/>,
                document.getElementById('div_title')
        );
    </script>
</body>
</html>